div{
  background-color: lightgreen;
}

@media (min-width: 600px) {
  div{
    background-color: pink;
  }
} 

@media (min-width: 900px) {
  div{
    background-color: lightsalmon;
  }
} 

/* 論理演算子 */